<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quera  ALL POSTS</h1>
       <%for(let post of posts) {%>
         <div class="post">
    <h2>@<%=post.username%></h2>
    <h3><%=post.comments%></h3>

    <a href="http://localhost:3000/posts/<%=post.id%>">Show in detailes</a>
    <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit</a>
   <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
     <button>Delete Post</button>
   </form>
   </div>
    <%}%>
<br>
<br>
<a href="http://localhost:3000/posts/new">Create New Post</a>
</body>
</html>